/* styles.css */

body {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    background-color: #fcf0f9;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    overflow-x: hidden;
}

/* base.html */

.navbar {
    background-color:  #5a2a50;
    color: white;
    padding: 15px 30px;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-links li {
    margin-right: 20px;
}

.nav-links li:last-child {
    margin-right: 0;
}

.nav-links li a {
    color: white;
    text-decoration: none;
    font-family: 'Scope One', serif;
}

.nav-links li a:hover {
    color: #ffc107;
}

.logout-link {
    color: white;
    text-decoration: none;
    font-family: 'Scope One', serif;
    float: right;
}

.logout-link:hover {
    color: #ffc107;
}

/* employee_list*/

.emp-h1-title {
    text-align: center;
    background-color: #e6d1e0;
    padding: 40px;
    max-width: 100%;
    margin-top: 0;
}

.emp-h2-title {
    text-align: center;
}

.table-container {
    max-width: 100%;
    background-color: #ffffff;
    padding: 40px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    padding: 10px;
    margin-bottom: 10px;
}

th, td {
    padding: 10px;
    border: 1px solid #ccc;
}

th {
    background-color: #5e2c4f;
    color: white ;
    font-weight: bold;
    text-align: left;
}

td {
    text-align: left;
}

.emplist-tablewithbutton {
    margin: 25px;
}

.leavetablewithbutton {
    margin: 30px;
    max-width: 100%;
    background-color: #ffffff;
    padding: 40px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    overflow-x: auto;
}

.tablewithbutton {
    margin: 30px;
}

.mt-3 {
    text-align: center;
    margin: 20px;
}

.btn {
    display: inline-block;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    background-color: #551869;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 10px;
}

.btn:hover {
    background-color: #580ab3;
}

.button-home {
    text-align: center;
    padding: 10px;
}

.buttons {
    text-align: center;
    position: inherit;
    color: #5e2c4f;
}


/* add_employee */

.addemp-h1-title {
    text-align: center;
    background-color: #e6d1e0;
    padding: 40px;
    max-width: 100%;
    margin-top: 0;
}
.form-container {
    width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.form-container h2 {
    margin-top: 0;
}

.form-container label {
    font-weight: bold;
}

.form-container input[type="text"],
.form-container select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.form-container input[type="password"],
.form-container select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.form-container input[type="submit"] {
    background-color: #000000;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
}

.form-container input[type="submit"]:hover {
    background-color: #0056b3;
}

/* apply_leave */

.container leaveapp- h1-title {
    text-align: center;
}

.leave-details .leave-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    padding: 10px;
    margin-bottom: 10px;
}

.leave-details .leave-table th {
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #5e2c4f;
    color: white;
    font-weight: bold;
    text-align: left;
}

.leave-details .leave-table td {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: left;
}
/* Light Indicator */

.status-indicator {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 5px;
    position: relative;
}

.status-indicator.yellow {
    background-color: #ff0;
}

.status-indicator.green {
    background-color: #0f0;
}

.status-indicator.red {
    background-color: #f00;
}

/* Shine effect */
.status-indicator::after {
    content: "";
    display: block;
    width: 30%;
    height: 30%;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    animation: shine 1.5s infinite;
}

@keyframes shine {
    0% {
        transform: scale(0.5) rotate(0deg);
        opacity: 0;
    }
    50% {
        transform: scale(1.2) rotate(180deg);
        opacity: 1;
    }
    100% {
        transform: scale(0.5) rotate(360deg);
        opacity: 0;
    }
}



/* Footer */

footer {
    background-color: #5a2a50;
    color: white;
    text-align: center;
    padding: 10px;
    position: sticky;
    bottom: 0;
    width: 100%;
}

/* Signatories */

/*navbar*/

body {
    font-family: "Lato", sans-serif;
}

.navbar {
    height: 50px;
    background-color: #5e2c4f;
    color: white;
    padding: 10px;
}

.logo {
    height: 30px;
    float: left;
    margin-right: 10px;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: white;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 25px;
    color: #5e2c4f;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 28px;
    margin-left: 50px;
}